extends layout

block content
  h1= title
  .main.container
    .row
      .col-md-6.col-md-offset-3
        form(method='POST' action='register')
            div.form-group
              label(for='phone') Phone Number:
              input#name.form-control(type='text', placeholder='Phone Number (628xxx)', name='phone')
              input#name.form-control(type='text', value=instance_push_id, name='instance_push_id', hidden)
              input#name.form-control(type='text', value=zendesk_access_token, name='zendesk_access_token', hidden)
              input#name.form-control(type='text', value=subdomain, name='subdomain', hidden)
              input#name.form-control(type='text', value=locale, name='locale', hidden)
              input#name.form-control(type='text', value=return_url, name='return_url', hidden)
            div.form-group
              label(for='sender') Sender:
              input#name.form-control(type='text', placeholder='KKB or FINANCE', name='sender')
            div.form-group
              label(for='instance_push_id') Push ID (Save this ID somewhere safe):
              input#pw.form-control(type='text' name='show_instance_push_id' value=instance_push_id readonly)
            div.form-group
              label(for='zendesk_access_token') Token (Save this Token somewhere safe):
              input#pw.form-control(type='text' name='show_zendesk_access_token' value=zendesk_access_token readonly)
            button.btn.btn-primary(type='submit') Submit
